@import '~antd/dist/antd.css';

.app-wrapper {
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
}

.content-wrapper::before {
  min-height: 30px;
}

.content-wrapper::after {
  min-height: 63px;
}

