@import '~antd/dist/antd.css';

.app-wrapper {
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
}

.content-wrapper::before {
  min-height: 30px;
}

.content-wrapper::after {
  min-height: 63px;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo-btn {
  background: #001529;
  color: white;
  border-color: #001529;
}

.logo-btn:hover, .logo-btn:focus {
  background: #001529;
  color: white;
  border-color: #001529;
}
